#bottom-header{	
	section#home {
		height:40em;
		
		h1{
			font-size:8em;
			margin-top:1.3em;
			line-height:1.65em;
		}

		h2{
			font-size:2.8em;
			margin-top:-2.6em;
		}
	}

}	

section#about{
		width:100%;
		height:525px;
		margin-top:0em;

		h4{
			text-transform:uppercase;
			margin-bottom:-.05em;

		}
		div.left-column {
			width: 31.914894%;
			float:left;

			blockquote{
				font-style:italic;
				color:#19c7db;
				font-size:1.75em;
				line-height:1.5em;
				margin:0;
			}
			
			.img{
				width:100%;
				height:96px;
				background-color:#888;
			}
		}
		div.right-column{
			width: 61.914894%;
			float:right;
			padding-left:51px;
			margin-top:-1em;

		a, a:visited{border:none;background-color:#f8f8f8;	display:block;}
		a:hover, a:active{background-color:rgb(25,199,219); background-color:rgba(25,199,219, .2);}
			section.startups{
				height:180px;
				a.smashingboxes{
					height:158px;
					width:300px;
					float:left;
					
					img {margin-top:66px;margin-left:22px;}					
				}					

				a.getzeek{
					height:158px;
					width:267px;
					float:right;					
					
					img{margin-top:19px;margin-left:46px;}
					}	
				}	
	
			section.clients{

					a.cbc{
						height:173px;
						width:143px;
						float:left;

						img {margin-top:33px;margin-left:22px;}					
					}					
					div.client-right-column{
						width:433px;float:right;
					
						a.groundworklabs{
							height:87px;
							width:433px;
							margin-bottom:1.5em;
							
							img{margin-top:10px;margin-left:56px;}
							}	

		
						a.sony{
							height:64px;
							width:159px;
							float:left;					
							
							img{margin-top:23px;margin-left:27px;}
							}	
						
						a.alphamed{
							height:64px;
							width:248px;
							float:right;					
														
							img{margin-top:10px;margin-left:18px;}
							}	
						}
				}
		}
	}