/*
Site Name: Nick Jordan's Personal Website
Author: Jonathan Stephens
*/

/*  IMPORTING STYLES  */

/* import reset */
@import "normalize";
/* import mixins */
@import "mixins";

/*  GENERAL STYLES  */

.header {
	background:url('../images/bg-tophead.png') repeat-x;
	height:79px;
	margin-bottom:-42px;
	position:fixed;
	width:100%;
	margin-top:-12px;
	z-index:4242;
	display:block;

	#top-header{
		background:#fff;
	}
	
	a, a:visited, a:hover, a:active{
		border-bottom:none;
	}
	

	#logo {
		font-weight:600;
		font-size:1.4em;
		margin-top:.5em;
	}

	nav{
		margin-top:-56px;
		font-style:italic;
		
		ul {display:inline;}
		ul li{
			padding-left:5%;
			float:right;
			margin-top:1.67em;
			}
	}
}
#bottom-header{
	background:rgb(0,0,0) url('../images/bg-home-bottomhead.jpg') top;
	color:#fff;
	display:block;
	margin-top:.7em;
	border-bottom:2px solid $blue;
	text-align:center;

}

section#contact {
	background:rgb(0,0,0) url('../images/bg-contact.jpg') top;
	display:inline-block;
	width:100%;
	height:592px;
	margin-bottom:-15px;
	border-top:2px solid $blue;
	z-index:-10;
	color:#fff;
	
	h1{
		text-transform:uppercase;
		font-size:3.32em;
		font-weight:bold;
		line-height:1.2;
		margin-top:0.3em;
		opacity:.9;
		text-shadow: 5px 5px 8px #000000;
		filter: dropshadow(color=#000000, offx=5, offy=5);
	}
	h2{
		font-size:1.33em;
		font-style:italic;
		opacity:.9;
		margin-top:-1.3em;
		text-shadow: 5px 5px 8px #000000;
		filter: dropshadow(color=#000000, offx=5, offy=5);
	}
}


body {
	font: 14px/21px $serif;
	color: $black;
}

/*  WORDPRESS BODY CLASSES — style a page via class  */

.rtl {}
.home {} /* home page */
.blog {} 
.archive {} /* archive page */
.date {} /* date archive page */
	.date-paged-1 {} /* replace the number to the corresponding page number */
.search {} /* search page */
	.search-results {} /* search result page */
	.search-no-results {} /* no results search page */
	.search-paged-1 {} /* individual paged search (i.e. body.search-paged-3) */
.error404 {} /* 404 page */
.single {} /* single post page */
	.postid-1 {} /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {} /* individual paged single (i.e. body.single-paged-3) */
.attachment {} /* attatchment page */
	.attachmentid-1 {} /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {} /* style mime type pages */
.author {} /* author page */
	.author-nicename {} /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {} /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {} /* category page */
	.category-1 {} /* individual category page (i.e. body.category-6) */
	.category-paged-1 {} /* replace the number to the corresponding page number */
.tag {} /* tag page */
	.tag-slug {} /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {} /* replace the number to the corresponding page number */
.page-template {} /* custom page template page */
	.page-template-page-php {} /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {} /* replace the number to the corresponding page number */
	.page-parent {}
	.page-child {}
	.parent-pageid-1 {} /* replace the number to the corresponding page number */
.logged-in {} /* if user is logged in */
.paged {} /* paged items like search results or archives */
	.paged-1 {} /* individual paged (i.e. body.paged-3) */

/*  LAYOUT & GRID STYLES  */

.wrap { 
	width: 90%;
	margin: 0 auto;
}

/*
LINK STYLES
*/

a, a:visited { 
	color: $grayDark;
	border-bottom:2px solid $lblue;
	text-decoration:none;
}
a:hover, a:focus { 
	color: $blue;
	border-bottom:2px solid $blue; 
}
a:active {} /* on click */
a:link { 
	-webkit-tap-highlight-color : rgba(0,0,0,0); 
}

/*  H1, H2, H3, H4, H5 STYLES  */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 { 
	font-family: $serif; 
	font-weight: 500; 
	/* 
	if you're going to use webfonts, be sure to check your weights 
	http://css-tricks.com/watch-your-font-weight/
	*/
}

h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a { 
	text-decoration: none; 
}

h1, .h1 { 
	font-size: 2.5em; 
	line-height: 1.333em; 
}

h2, .h2 { 
	font-size: 1.75em; 
	line-height: 1.4em; 
	margin-bottom: 0.375em; 
}

h1.h2 a{
	border:none;}

h3, .h3 { 
	font-size: 1.125em; 
}

h4, .h4 { 
	font-size: 1.1em; 
	font-weight: 700; 
}

h5, .h5 { 
	font-size: 0.846em; 
	line-height: 2.09em; 
	text-transform: uppercase; 
	letter-spacing: 2px; 
}

#bottom-header{	

	section#home {
		height:15em;		
		h1{
			font-size:3.2em;
			text-shadow: 5px 5px 8px #000000;
			filter: dropshadow(color=#000000, offx=5, offy=5);
			margin-top:1.3em;
			text-align:left;
		}

		h2{
			opacity:.8;
			text-shadow: 5px 5px 8px #000000;
			filter: dropshadow(color=#000000, offx=5, offy=5);
			font-size:1.5em;
			opacity:.8;
			margin-top:-1.8em;
			text-align:left;
		}
	}

	section#blog{
		text-align:left;
		height:5em;
		margin-top:25px;
		
		h1{margin-top:.4em;}
	}
}

/*  HEADER SYTLES  */

.header {}

	#logo {}
	
/*  NAVIGATION STYLES  */

.nav {}

	.menu {
		margin: 1.1em 0; 
	}
	
	/* .menu is clearfixed inside mixins.less */
	
		.menu ul {}
			.menu li {}
				.menu li a {
					display: block;
					text-decoration: none;
					padding: 10px 10px;
					background-color: #eee;
					border-bottom: 1px solid #ccc; 
				}
					
					/*
					remember this is for mobile ONLY, so there's no need
					to even declare hover styles here, you can do it in
					the style.less file where it's relevant. We want to 
					keep this file as small as possible!
					*/
					.menu li a:hover {}
				
					.menu li:first-child a {}
					.menu li:last-child a {}
					
					/* highlight current page */
					.menu li.current-menu-item a, 
					.menu li.current_page_item a,
					.menu li.current-page-ancestor a {}
					
					/*
					so you really have to rethink your dropdowns for mobile.
					you don't want to have it expand too much because the
					screen is so small. How you manage your menu should
					depend on the project. Here's some great info on it:
					http://www.alistapart.com/articles/organizing-mobile/
					*/
					.menu .sub-menu, .menu .children {}
						.menu ul ul li a {
							padding-left: 30px;
						}
							.menu ul ul li a:hover {}
							.menu ul ul li:last-child a {}
							
							/* 
							menus should definitely not go down this
							deep on a mobile device. that would just be
							a mess.
							*/
							.menu ul ul ul { }
								.menu ul li:hover ul ul { }

/*  POSTS & CONTENT STYLES  */

#content { 	
	a{
		text-decoration:none;
	}
}


section#about{
	width:100%;
	height:63em;
	display:block;
	margin-top:1em;
	background-color:#fff;
	
	h4{
		text-transform:uppercase;
		margin-bottom:.5em;

	}
	div.left-column {
		float:left;
		
		blockquote{
			font-style:italic;
			color:$blue;
			font-size:1.75em;
			line-height:1.5em;
			margin:0;
		}
	}

	div.right-column{
		margin-top:1em;
		width:100%;

	a, a:visited{border:none;background-color:#f8f8f8;	display:block;vertical-align:center;}
	a:hover, a:active{background-color:rgb(25,199,219); background-color:rgba(25,199,219, .2);}
		section.startups{
			width:100%;
			display:inline-block;
			
			a.smashingboxes{
				height:74px;

				
				img {margin-top:27px;margin-left:14%;}					
			}					

			a.getzeek{
				height:150px;
				margin-top:1em;
				
				img{margin-top:13px;margin-left:25%;}
				}	
			}	

		section.clients{
			width:100%;
			padding-top:1em;
			
				a.cbc{
					height:143px;
					width:143px;
					float:left;

					img {margin-top:25px;margin-left:22px;}					
				}					
				div.client-right-column{
					width:433px;
				
					a.groundworklabs{
						height:87px;
						width:340px;
						margin-top:.65em;
						float:left;
						
						img{margin-top:10px;margin-left:17px;}
						}	

	
					a.sony{
						height:64px;
						width:44%;
						float:left;
						margin-left:.75em;
						
						img{margin-top:23px;margin-left:37px;}
						}	
					
					a.alphamed{
						height:64px;
						width:188px;
						float:left;	
						margin-left:.75em;
						margin-top:1em;						
						img{margin-top:13px;margin-left:18px; width:82%;}
						}	
					}
			}
	}


}


section#contact{
	ul li{
		display:inline-block;
		margin-left:1.35em;
		margin-top:2em;
		align:center;
	
	
		a.twitter, a.twitter:visited{
			display:block;
			background:url('../images/backup-twitter.png') no-repeat;
			z-index:-42;
			height:124px;
			width:124px;
			text-indent:99999999999%;
			border:none;
			background-size:100%;
			-webkit-background-size:100%;
			-moz-background-size:100%;
			margin-left:-15%;
		}
			a.twitter:hover, a.twitter:active{
				background:url('../images/backup-twitter-hvr.png');
				height:124px;
				width:124px;
				background-size:100%;
				}

			a.facebook, a.facebook:visited{
				display:block;
				background:url('../images/backup-facebook.png') no-repeat;
				z-index:-42;
				height:127px;
				width:127px;
				text-indent:99999999999%;
				border:none;
				background-size:100%;
				margin-left:-43%;
			}
			a.facebook:hover, a.facebook:active{
				background:url('../images/backup-facebook-hvr.png');
				background-size:100%;
				height:127px;
				width:127px;				
			}
		
			a.linkedin, a.linkedin:visited{
				display:block;
				background:url('../images/backup-linkedin.png') no-repeat;
				z-index:-42;
				height:126px;
				width:128px;
				text-indent:99999999999%;
				border:none;
				background-size:100%;
				margin-left:-95px;
			}
			a.linkedin:hover, a.linkedin:active{
				background:url('../images/backup-linkedin-hvr.png');
				background-size:100%;
				height:126px;
				width:128px;				
			}
		
			a.skype, a.skype:visited{
				display:block;
				background:url('../images/backup-skype.png') no-repeat;
				z-index:-42;
				height:132px;
				width:132px;
				text-indent:99999999999%;
				border:none;
				background-size:100%;
				margin-left:18%;
			}
			a.skype:hover, a.skype:active{
				background:url('../images/backup-skype-hvr.png');
				background-size:100%;
				height:132px;
				width:132px;				
			}
		
			a.mail, a.mail:visited{
				display:block;
				background:url('../images/backup-mail.png') no-repeat;
				z-index:-42;
				height:132px;
				width:139px;
				text-indent:99999999999%;
				border:none;
				background-size:100%;
				margin-left:-11%;
			}
			a.mail:hover, a.mail:active{
				background:url('../images/backup-mail-hvr.png');
				background-size:100%;
				height:132px;
				width:139px;				
			}
	}
	
	
}
		.hentry {}
		
		.single-title, .page-title {}
		.single-title {}
		.page-title {}
		.archive_title { }
	
		/* want to style individual post classes? Booya! */
		.post-id {} /* post by id (i.e. post-3) */
		.post {} /* general post style */
		.page {} /* general article on a page style */
		.attachment {} /* general style on an attatchment */
		.sticky {} /* sticky post style */
		.hentry {} /* hentry class */
		.category-slug {} /* style by category (i.e. category-videos) */
		.tag-slug {} /* style by tag (i.e. tag-news) */
	
		/* post meta */
		.meta {
			color: #999;
			margin-top:-2em;
		}
			.meta time {}
			
		/* post content */
		.post_content {
			.single-post{
				width:100%;
			}
		}
			
			.post_content p {}
			.post_content ul, .post_content ol, .post_content table, .post_content dl {}
			.post_content ul, .post_content ol {}
			.post_content li {}
			.post_content ul li {}
			.post_content ol li {}
			
			.post_content blockquote {
				font-style:italic;
				border-left:2px solid $blue;
				padding-left:1.15em;
			}
			
			cite{
				margin-left:3.95em;
				color:$blue;}
			cite a, cite a:visited, cite a:hover, cite a:active{
				border:none;
			}
			.post_content blockquote:before {} /* this adds the quote before the blockquote */
			
			.post_content dl {}
			.post_content dt {}
			.post_content dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}
			
			.post_content img { 
				margin: 0 0 1.5em 0; 
				max-width: 100%; 
			}
			
			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning 
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}
			
			.post_content video, .post_content object { 
				max-width: 100%; 
			}
			.post_content pre, .post_content code {
				background: #eee;
				border: 1px solid #cecece;
				padding: 10px;
			}
			
			.wp-caption {
				background: #eee;
				padding: 5px;
			}
			.wp-caption img {
				margin-bottom: 0;
				width: 100%;
			}
			.wp-caption p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}
			
			/* image gallery styles */
			.gallery dl {}
			.gallery dt {}
			.gallery dd {}
			.gallery dl a {}
			.gallery dl img {}
			.gallery-caption {}
			
			.size-full {}
			.size-large {}
			.size-medium {}
			.size-thumbnail {}
			
		.hentry footer {}	

/*  PAGE NAVI STYLES  */

.page-navigation, .wp-prev-next { 
	margin: 1.1em 0 2.2em; 
}
	.bones_page_navi, .wp-prev-next ul {list-style:none;}
	
		.bones_page_navi li { 
			list-style:none;
			float: left; 
			margin-left: 10px; 
			} 
			
			.bones_page_navi li a { 
				padding: 3px 6px; 
				display: block; 
				text-decoration: none; 
				position: relative; 
			}
				.bones_page_navi li a:hover { 
					color: #f01d4f; 
					text-decoration: none; 
				}
		
		/* current page link */	
		.bones_page_navi li.bpn-current { 
			padding: 3px 6px; 
			border-bottom: 2px solid $black; 
			position: relative; 
		}	
			/* hovering on current page link */
			.bones_page_navi li.bpn-current:hover {}
			
		/* common styles for page-navi links */
		.bones_page_navi li.bpn-prev-link a, .bones_page_navi li.bpn-next-link a {
			padding: 0;
			padding-top:.45em;
		}
		.bones_page_navi li.bpn-prev-link a:hover, .bones_page_navi li.bpn-next-link a:hover, .bones_page_navi li.bpn-first-page-link a:hover, .bones_page_navi li.bpn-last-page-link a:hover {
			background: none;
		} 
		
		/* previous link */
		.bones_page_navi li.bpn-prev-link { } 
			.bones_page_navi li.bpn-prev-link a {}
				.bones_page_navi li.bpn-prev-link a:hover {}
		
		/* next page link */		
		.bones_page_navi li.bpn-next-link { font-weight: 700; } 
			.bones_page_navi li.bpn-next-link a {}
				.bones_page_navi li.bpn-next-link a:hover {}
				
		/* first page link */
		.bones_page_navi li.bpn-first-page-link {} 
			.bones_page_navi li.bpn-first-page-link a {}
				.bones_page_navi li.bpn-first-page-link a:hover {}
		
		/* last page link */
		.bones_page_navi li.bpn-last-page-link {} 
			.bones_page_navi li.bpn-last-page-link a {}
				.bones_page_navi li.bpn-last-page-link a:hover {}
	
	/* fallback previous & next links */
	.wp-prev-next {}
		.wp-prev-next ul {}
			.wp-prev-next .prev-link { float: left; }
			.wp-prev-next .next-link { float: right; }

/*  COMMENT STYLES  */

#comments {}/* h3 comment title */
	#comments span {} /* number of comments span */
	
.comment-nav {}
	.comment-nav ul {}
		.comment-nav ul li {}
		
.commentlist {}
	.commentlist li { 
		position: relative; 
		clear: both; 
		overflow: hidden;
		list-style-type: none; 
		margin-bottom: 1.5em; 
		padding: 0.7335em 10px; 
	}
		.commentlist li[class*=depth-] { 
			margin-top: 1.1em; 
		}
			.commentlist li.depth-1 { 
				margin-left: 0; 
				margin-top: 0; 
			}
				.commentlist li:not(.depth-1) { 
					margin-right: -10px; 
					margin-left: -10px;
					margin-top: 0; 
					padding-bottom: 0; 
				}
			.commentlist li.depth-2 {}
			.commentlist li.depth-3 {}
			.commentlist li.depth-4 {}
			.commentlist li.depth-5 {}
			.commentlist li:last-child { 
				margin-bottom: 0; 
			}
				.commentlist li ul.children li {}
				.commentlist li ul.children li.alt {}
				.commentlist li ul.children li.byuser {}
				.commentlist li ul.children li.comment {}
				.commentlist li ul.children li.depth-1 {} /* change number for different depth */
				.commentlist li ul.children li.bypostauthor {}
				.commentlist li ul.children li.comment-author-admin {}
				.commentlist li ul.children .alt {}
				.commentlist li ul.children .odd {}
				.commentlist li ul.children .even {}
			.commentlist .alt {}
			.commentlist .odd { 
				background: #eee; 
			}
			.commentlist .even { 
				background: #fefefe; 
			}
			.commentlist .parent {}
			.commentlist .comment {}
			.commentlist .children { 
			}
			.commentlist .pingback {}
			.commentlist .bypostauthor {}
			.commentlist .comment-author {}
			.commentlist .comment-author-admin {}
			.commentlist .thread-alt {}
			.commentlist .thread-odd {}
			.commentlist .thread-even {}	
			
			.commentlist .vcard { 
				margin-left: 50px; 
			}
				.commentlist .vcard cite.fn { 
					font-weight: 700; 
					font-style: normal; 
				}
				.commentlist .vcard time { 
					float: right; 
				}
					.commentlist .vcard time a { 
						color: #999; 
						text-decoration: none; 
					}
						.commentlist .vcard time a:hover { 
							text-decoration: none; 
						}
				.commentlist .vcard img.photo {}
				.commentlist .vcard img.avatar { 
					position: absolute; 
					left: 10px; 
					padding: 2px; 
					border: 1px solid #cecece; 
					background: #fff; 
				}
					.commentlist .vcard cite.fn a.url {}
				.commentlist .comment-meta {} 
					.commentlist .comment-meta a {}
				.commentlist .commentmetadata {}
					.commentlist .commentmetadata a {}
			.commentlist li .comment_content { 
				margin-left: 50px; 
			}
				.commentlist li .comment_content p { 
					margin: 0.7335em 0 1.5em; 
					font-size: 1em; 
					line-height: 1.5em; 
				}
				.commentlist li ul { 
					margin: 0; 
				}		
				.commentlist .comment-reply-link { 
					text-decoration: none; 
					float: right;  
					background: #4598bb; 
					padding: 3px 5px; 
					color: #fff; 
					opacity: 0.65; 
					margin-bottom: 10px; 
					font-weight: 700; 
					font-size: 0.9em; 
				}
					.commentlist a.comment-reply-link:hover { opacity: 1; }

/*  COMMENT FORM STYLES  */

.respond-form { 
	margin: 1.5em 10px; 
	padding-bottom: 2.2em; 
}
	#comment-form-title { 
		margin: 0 0 1.1em; 
	}
	
	#cancel-comment-reply {}
			#cancel-comment-reply a {}
			
	.respond-form form[method=post] { 
		margin: 0.75em 0; 
	}
		
		.comments-logged-in-as {}
		
		.respond-form form[method=post] li { 
			list-style-type: none; 
			clear: both; 
			margin-bottom: 0.7335em; 
		}
			.respond-form form[method=post] li label, .respond-form form[method=post] li small { 
				display: none; 
			}
			.respond-form input[type=text], .respond-form input[type=email], .respond-form input[type=url], .respond-form textarea { 
				padding: 3px 6px; 
				background: #efefef; 
				border: 2px solid #cecece; 
				line-height: 1.5em; 
			}
			.respond-form input[type=text]:focus, .respond-form input[type=email]:focus, .respond-form input[type=url]:focus, .respond-form textarea:focus { 
				background: #fff; 
			}
			.respond-form input[type=text], .respond-form input[type=email], .respond-form input[type=url] { 
				max-width: 400px; 
				min-width: 250px; 
			}
			
			#allowed_tags { 
				margin: 1.5em 10px 0.7335em 0; 
			}
			.respond-form textarea { 
				resize: none; 
				width: 97.3%; 
				height: 150px; 
			}
			#submit {}
		
	/* form validation */
	.respond-form input:invalid, .respond-form textarea:invalid { 
		outline: none; 
		border-color: #fbc2c4; 
		background-color: #f6e7eb;
		-webkit-box-shadow: none; 
		   -moz-box-shadow: none;  
		    -ms-box-shadow: none;
				box-shadow: none;  
	}		
	
	/* no comments */
	.nocomments { 
		margin: 0 20px 1.1em; 
	}	
	
/*  SIDEBARS & ASIDES  */

.sidebar {opacity:.5;}
.sidebar:hover, .sidebar:active{opacity:.9;}
	.widget {}
	
		.widgettitle {}
		
		.widget ul {}
	
		.widget li {}
		
			.widget li:first-child {}
			.widget li:last-child {}
		
			.widget li a {}
			
			.widget li ul {}

	#archives-2{
		display:inline-block;
		width:48%;
		float:right;
	}


/*  FOOTER STYLES  */

.footer {
	clear: both;
	z-index:100;
	background:rgba(255,255,255,.9) url('../images/bg-footer.png') repeat-x top;
	padding-top:1em;
	
		h4{
			font:1em/1.5em $serif-caps;
			text-transform:uppercase;
			margin-bottom:0;
			font-weight:bold;
		}
		
		a, a:visited{
			border:none;
			color:$blue;
			margin-bottom:-1em;
		}

		a:hover, a:active{
			color:$black;
		}

		p{margin-top:0.1em;}
		
		nav ul li{
			margin-left:2em;}

		nav ul li{
			a.twitter{
			margin-left:2em;
			}
			
		}
		
		
		p.button {
			float:right;
			font-weight:200;
			font-style:italic;
		}
}

footer #bottom {
	text-align:center;
	
	li{
		display:inline-block;
		margin-left:.5em;	
	}
	
	.attribution{
		margin-top:-.5em;
	}
	}

footer #tweet-feed{
	ul{margin-top:0em}
	li{
		margin-top:.5em;
		padding-bottom:.5em;
		border-bottom:1px solid $blue;
	}
}
hr{color:$blue;background-color:$blue;border:none;height:1px;}

#recent-blog-posts{
	margin-bottom:4em;
}


	.footer-links {}
		.footer-links ul {}
			.footer-links li {}
				.footer-links li a {}
					
					/* remember, no hover in mobile */
					.footer-links li a:hover {} 
				
				/* highlight current page */	
				.nav li.current-menu-item a, .nav li.current_page_item a {}
				
				/* be careful with the depth of your menus */
				.footer-links .sub-menu {}
			
	.attribution {}

::selection{background-color:$blue; color:#fff;}
::-moz-selection{background-color:$blue; color:#fff;}