/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.less styles.

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
/*********************
HEADER SYTLES
*********************/
/* line 39, ../scss/481up.scss */
#bottom-header section#home {
  height: 20em; }
  /* line 42, ../scss/481up.scss */
  #bottom-header section#home h1 {
    font-size: 4em;
    margin-top: .8em;
    line-height: 2.5em;
    text-align: center; }
  /* line 49, ../scss/481up.scss */
  #bottom-header section#home h2 {
    opacity: .8;
    font-size: 2em;
    margin-top: -2.6em;
    text-align: center; }

/*********************
NAVIGATION STYLES
*********************/
/*
you can use hover styles here even though this size
has the possibility of bieng a mobile device.
*/
/* highlight current page */
/*
plan your menus and drop-downs wisely.
*/
/* 
more levels
*/
/*********************
POSTS & CONTENT STYLES
*********************/
/* line 104, ../scss/481up.scss */
section#about {
  width: 100%;
  height: 525px;
  margin-top: 0em; }
  /* line 110, ../scss/481up.scss */
  section#about div.left-column blockquote {
    font-style: italic;
    color: #19c7db;
    font-size: 1.75em;
    line-height: 1.5em;
    margin: 0; }
  /* line 118, ../scss/481up.scss */
  section#about div.left-column .img {
    width: 100%;
    height: 96px;
    background-color: #888; }
  /* line 124, ../scss/481up.scss */
  section#about div.right-column {
    margin-top: 1em;
    width: 100%; }
    /* line 128, ../scss/481up.scss */
    section#about div.right-column a, section#about div.right-column a:visited {
      border: none;
      background-color: #f8f8f8;
      display: block;
      vertical-align: center; }
    /* line 129, ../scss/481up.scss */
    section#about div.right-column a:hover, section#about div.right-column a:active {
      background-color: #19c7db;
      background-color: rgba(25, 199, 219, 0.2); }
    /* line 130, ../scss/481up.scss */
    section#about div.right-column section.startups {
      width: 100%;
      display: inline-block; }
      /* line 134, ../scss/481up.scss */
      section#about div.right-column section.startups a.smashingboxes {
        height: 74px; }
        /* line 138, ../scss/481up.scss */
        section#about div.right-column section.startups a.smashingboxes img {
          margin-top: 27px;
          margin-left: 23%; }
      /* line 141, ../scss/481up.scss */
      section#about div.right-column section.startups a.getzeek {
        height: 150px;
        margin-top: 1em; }
        /* line 145, ../scss/481up.scss */
        section#about div.right-column section.startups a.getzeek img {
          margin-top: 13px;
          margin-left: 35%; }
    /* line 149, ../scss/481up.scss */
    section#about div.right-column section.clients {
      width: 100%;
      padding-top: 1em; }
      /* line 153, ../scss/481up.scss */
      section#about div.right-column section.clients div.client-right-column {
        width: 66%;
        float: right; }
        /* line 156, ../scss/481up.scss */
        section#about div.right-column section.clients div.client-right-column a.groundworklabs {
          height: 87px;
          width: 436px;
          margin-top: 1em;
          margin-left: -10.75em;
          margin-bottom: 1em; }
          /* line 163, ../scss/481up.scss */
          section#about div.right-column section.clients div.client-right-column a.groundworklabs img {
            margin-top: 10px;
            margin-left: 56px; }
        /* line 168, ../scss/481up.scss */
        section#about div.right-column section.clients div.client-right-column a.sony {
          height: 64px;
          width: 276px; }
          /* line 172, ../scss/481up.scss */
          section#about div.right-column section.clients div.client-right-column a.sony img {
            margin-top: 23px;
            margin-left: 76px; }
        /* line 175, ../scss/481up.scss */
        section#about div.right-column section.clients div.client-right-column a.alphamed {
          height: 64px;
          width: 276px; }
          /* line 179, ../scss/481up.scss */
          section#about div.right-column section.clients div.client-right-column a.alphamed img {
            margin-top: 10px;
            margin-left: 18px; }

/* line 187, ../scss/481up.scss */
section#contact {
  width: 100%;
  height: 415px;
  margin-bottom: -15px; }
  /* line 192, ../scss/481up.scss */
  section#contact h1 {
    font-size: 5.32em;
    margin-top: 0.3em; }
  /* line 196, ../scss/481up.scss */
  section#contact h2 {
    font-size: 1.53em; }

/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
/* post meta */
/* post content */
/* this adds the quote before the blockquote */
/* at this larger size, we can start to align images */
/* line 244, ../scss/481up.scss */
.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

/* line 249, ../scss/481up.scss */
.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

/* line 254, ../scss/481up.scss */
.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

/* image gallery styles */
/******************************************************************
PAGE NAVI STYLES
******************************************************************/
/* current page link */
/* hovering on current page link */
/* common styles for page-navi links */
/* previous link */
/* next page link */
/* first page link */
/* last page link */
/* fallback previous & next links */
/******************************************************************
COMMENT STYLES
******************************************************************/
/* h3 comment title */
/* number of comments span */
/* change number for different depth */
/******************************************************************
COMMENT FORM STYLES
******************************************************************/
/* form validation */
/* no comments */
/*********************
SIDEBARS & ASIDES
*********************/
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* hover styles */
/* highlight current page */
/* 
be careful with the depth of your menus.
it's very rare to have multi-depth menus in
the footer.
*/
