/* line 2, ../scss/992up.scss */
#bottom-header section#home {
  height: 40em; }
  /* line 5, ../scss/992up.scss */
  #bottom-header section#home h1 {
    font-size: 8em;
    margin-top: 1.3em;
    line-height: 1.65em; }
  /* line 11, ../scss/992up.scss */
  #bottom-header section#home h2 {
    font-size: 2.8em;
    margin-top: -2.6em; }

/* line 18, ../scss/992up.scss */
section#contact {
  width: 100%;
  height: 415px;
  margin-bottom: -15px; }
  /* line 23, ../scss/992up.scss */
  section#contact h1 {
    font-size: 5.32em;
    margin-top: 0.3em; }
  /* line 27, ../scss/992up.scss */
  section#contact h2 {
    font-size: 1.53em; }

/* line 32, ../scss/992up.scss */
section#about {
  width: 100%;
  height: 525px;
  margin-top: 0em; }
  /* line 37, ../scss/992up.scss */
  section#about h4 {
    text-transform: uppercase;
    margin-bottom: -0.05em; }
  /* line 42, ../scss/992up.scss */
  section#about div.left-column {
    width: 31.914894%;
    float: left; }
    /* line 46, ../scss/992up.scss */
    section#about div.left-column blockquote {
      font-style: italic;
      color: #19c7db;
      font-size: 1.75em;
      line-height: 1.5em;
      margin: 0; }
    /* line 54, ../scss/992up.scss */
    section#about div.left-column .img {
      width: 100%;
      height: 96px;
      background-color: #888; }
  /* line 60, ../scss/992up.scss */
  section#about div.right-column {
    width: 61.914894%;
    float: right;
    padding-left: 51px;
    margin-top: -1em; }
    /* line 66, ../scss/992up.scss */
    section#about div.right-column a, section#about div.right-column a:visited {
      border: none;
      background-color: #f8f8f8;
      display: block; }
    /* line 67, ../scss/992up.scss */
    section#about div.right-column a:hover, section#about div.right-column a:active {
      background-color: #19c7db;
      background-color: rgba(25, 199, 219, 0.2); }
    /* line 68, ../scss/992up.scss */
    section#about div.right-column section.startups {
      height: 180px; }
      /* line 70, ../scss/992up.scss */
      section#about div.right-column section.startups a.smashingboxes {
        height: 158px;
        width: 51%;
        float: left; }
        /* line 75, ../scss/992up.scss */
        section#about div.right-column section.startups a.smashingboxes img {
          margin-top: 66px;
          margin-left: 22px; }
      /* line 78, ../scss/992up.scss */
      section#about div.right-column section.startups a.getzeek {
        height: 158px;
        width: 47%;
        float: right;
        margin-top: 0; }
        /* line 84, ../scss/992up.scss */
        section#about div.right-column section.startups a.getzeek img {
          margin-top: 19px;
          margin-left: 46px; }
    /* line 88, ../scss/992up.scss */
    section#about div.right-column section.clients {
      padding-top: 2em; }
      /* line 91, ../scss/992up.scss */
      section#about div.right-column section.clients a.cbc {
        height: 173px;
        width: 143px;
        float: left; }
        /* line 96, ../scss/992up.scss */
        section#about div.right-column section.clients a.cbc img {
          margin-top: 33px;
          margin-left: 22px; }
      /* line 98, ../scss/992up.scss */
      section#about div.right-column section.clients div.client-right-column {
        width: 74%;
        float: right; }
        /* line 101, ../scss/992up.scss */
        section#about div.right-column section.clients div.client-right-column a.groundworklabs {
          height: 87px;
          width: 100%;
          margin-left: 0; }
          /* line 106, ../scss/992up.scss */
          section#about div.right-column section.clients div.client-right-column a.groundworklabs img {
            margin-top: 10px;
            margin-left: 56px; }
        /* line 110, ../scss/992up.scss */
        section#about div.right-column section.clients div.client-right-column a.sony {
          height: 64px;
          width: 40%;
          margin-left: 0;
          float: left; }
          /* line 116, ../scss/992up.scss */
          section#about div.right-column section.clients div.client-right-column a.sony img {
            margin-top: 23px;
            margin-left: 27px; }
        /* line 119, ../scss/992up.scss */
        section#about div.right-column section.clients div.client-right-column a.alphamed {
          height: 64px;
          width: 57%;
          float: right;
          margin-top: 0; }
          /* line 125, ../scss/992up.scss */
          section#about div.right-column section.clients div.client-right-column a.alphamed img {
            margin-top: 10px;
            margin-left: 18px; }
