@charset "UTF-8";
/*
Site Name: Nick Jordan's Personal Website
Author: Jonathan Stephens
*/
/*  IMPORTING STYLES  */
/* import reset */
/* line 1, ../scss/normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 9, ../scss/normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
/* line 19, ../scss/normalize.scss */
audio:not([controls]) {
  display: none; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 28, ../scss/normalize.scss */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/* line 36, ../scss/normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  overflow-y: scroll;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 3 */ }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 47, ../scss/normalize.scss */
body {
  margin: 0; }

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 55, ../scss/normalize.scss */
body, button, input, select, textarea {
  font-family: sans-serif; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 68, ../scss/normalize.scss */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 78, ../scss/normalize.scss */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Neutralise smaller font-size in 'section' and 'article' in FF4+, Chrome, S5
 */
/* line 91, ../scss/normalize.scss */
h1 {
  font-size: 2em; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 99, ../scss/normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 108, ../scss/normalize.scss */
b,
strong {
  font-weight: bold; }

/* line 112, ../scss/normalize.scss */
blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 120, ../scss/normalize.scss */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 128, ../scss/normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 141, ../scss/normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 151, ../scss/normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 164, ../scss/normalize.scss */
q {
  quotes: none; }

/* 2 */
/* line 171, ../scss/normalize.scss */
q:before,
q:after {
  content: '';
  content: none; }

/* line 176, ../scss/normalize.scss */
small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 186, ../scss/normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 193, ../scss/normalize.scss */
sup {
  top: -0.5em; }

/* line 197, ../scss/normalize.scss */
sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
/* line 207, ../scss/normalize.scss */
ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px; }

/* line 212, ../scss/normalize.scss */
dd {
  margin: 0 0 0 40px; }

/* line 217, ../scss/normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 233, ../scss/normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9 
 */
/* line 242, ../scss/normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 255, ../scss/normalize.scss */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 268, ../scss/normalize.scss */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding
 */
/* line 276, ../scss/normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
 */
/* line 287, ../scss/normalize.scss */
legend {
  border: 0;
  /* 1 */
  *margin-left: -7px;
  /* 2 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 301, ../scss/normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 313, ../scss/normalize.scss */
button,
input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 327, ../scss/normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 */
/* line 339, ../scss/normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 349, ../scss/normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding that is displayed in S5, Chrome on OS X
 */
/* line 360, ../scss/normalize.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 370, ../scss/normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 380, ../scss/normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/* 
 * Remove most spacing between table cells
 */
/* line 394, ../scss/normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 400, ../scss/normalize.scss */
ul, ol {
  padding: 0; }

/* line 404, ../scss/normalize.scss */
dd {
  margin: 0; }

/* line 410, ../scss/normalize.scss */
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none; }

/* line 414, ../scss/normalize.scss */
p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -epub-hyphens: auto;
  hyphens: auto; }

/* line 423, ../scss/normalize.scss */
b,
strong,
.strong {
  font-weight: bold; }

/* line 429, ../scss/normalize.scss */
dfn,
em,
.em {
  font-style: italic; }

/* line 433, ../scss/normalize.scss */
small, .small {
  font-size: 75%; }

/* import mixins */
/* line 1, ../scss/mixins.scss */
ul, ol {
  list-style-type: none;
  padding: 0; }

/*  CLEARFIXIN'  */
/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
/* line 11, ../scss/mixins.scss */
.clearfix:before,
.clearfix:after,
.nav .menu ul:before,
.nav .menu ul:after {
  content: "";
  display: table; }

/* line 13, ../scss/mixins.scss */
.clearfix:after,
.nav .menu ul:after {
  clear: both; }

/* line 15, ../scss/mixins.scss */
.clearfix,
.nav .menu ul {
  zoom: 1; }

/*  COLORS  */
/*  TYPOGRAPHY  */
/* line 35, ../scss/mixins.scss */
.sans-serif {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 42, ../scss/mixins.scss */
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif;
  font-style: italic; }

/* adding proper formatting */
/* line 48, ../scss/mixins.scss */
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

/* text alignment */
/* line 56, ../scss/mixins.scss */
.text-left {
  text-align: left; }

/* line 57, ../scss/mixins.scss */
.text-center {
  text-align: center; }

/* line 58, ../scss/mixins.scss */
.text-right {
  text-align: right; }

/* alerts & notices */
/* line 62, ../scss/mixins.scss */
.help, .info, .error, .success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid; }

/* line 68, ../scss/mixins.scss */
.help {
  border-color: #e8dc59;
  background: #ebe16f; }

/* line 73, ../scss/mixins.scss */
.info {
  border-color: #16b2c4;
  background: #19c7db; }

/* line 78, ../scss/mixins.scss */
.error {
  border-color: #f8cdce;
  background: #fbe3e4; }

/* line 83, ../scss/mixins.scss */
.success {
  border-color: #0f767f;
  background: #128b96; }

/*
BORDER RADIUS
*/
/* @include borderRadius(4px); */
/* @include borderTopRadius(4px); */
/* @include borderRightRadius(4px); */
/* @include borderBottomRadius(4px); */
/* @include borderLeftRadius(4px); */
/*
BOX SHADOWS
*/
/* @include box-shadow(5px, 5px, 10px, #000); */
/*  CSS3 GRADIENTS  */
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*  GENERAL STYLES  */
/* line 15, ../scss/base.scss */
.header {
  background: url("../images/bg-tophead.png") repeat-x;
  height: 79px;
  margin-bottom: -42px;
  position: fixed;
  width: 100%;
  margin-top: -12px;
  z-index: 4242;
  display: block; }
  /* line 25, ../scss/base.scss */
  .header #top-header {
    background: #fff; }
  /* line 29, ../scss/base.scss */
  .header a, .header a:visited, .header a:hover, .header a:active {
    border-bottom: none; }
  /* line 34, ../scss/base.scss */
  .header #logo {
    font-weight: 600;
    font-size: 1.4em;
    margin-top: .5em; }
  /* line 40, ../scss/base.scss */
  .header nav {
    margin-top: -56px;
    font-style: italic; }
    /* line 44, ../scss/base.scss */
    .header nav ul {
      display: inline; }
    /* line 45, ../scss/base.scss */
    .header nav ul li {
      padding-left: 5%;
      float: right;
      margin-top: 1.67em; }

/* line 52, ../scss/base.scss */
#bottom-header {
  background: black url("../images/bg-home-bottomhead.jpg") top;
  color: #fff;
  display: block;
  margin-top: .7em;
  border-bottom: 2px solid #19c7db;
  text-align: center; }

/* line 62, ../scss/base.scss */
section#contact {
  background: black url("../images/bg-contact.jpg") top;
  display: inline-block;
  width: 100%;
  height: 592px;
  margin-bottom: -15px;
  border-top: 2px solid #19c7db;
  z-index: -10;
  color: #fff; }
  /* line 72, ../scss/base.scss */
  section#contact h1 {
    text-transform: uppercase;
    font-size: 3.32em;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 0.3em;
    opacity: .9;
    text-shadow: 5px 5px 8px #000000;
    filter: dropshadow(color=black, offx=5, offy=5); }
  /* line 82, ../scss/base.scss */
  section#contact h2 {
    font-size: 1.33em;
    font-style: italic;
    opacity: .9;
    margin-top: -1.3em;
    text-shadow: 5px 5px 8px #000000;
    filter: dropshadow(color=black, offx=5, offy=5); }

/* line 93, ../scss/base.scss */
body {
  font: 14px/21px "ff-meta-serif-web-pro", "Droid Serif", "Georgia", Cambria, Times New Roman, Times, serif;
  color: #111111; }

/*  WORDPRESS BODY CLASSES — style a page via class  */
/* home page */
/* archive page */
/* date archive page */
/* replace the number to the corresponding page number */
/* search page */
/* search result page */
/* no results search page */
/* individual paged search (i.e. body.search-paged-3) */
/* 404 page */
/* single post page */
/* individual post page by id (i.e. body.postid-73) */
/* individual paged single (i.e. body.single-paged-3) */
/* attatchment page */
/* individual attatchment page (i.e. body.attachmentid-763) */
/* style mime type pages */
/* author page */
/* user nicename (i.e. body.author-samueladams) */
/* paged author archives (i.e. body.author-paged-4) for page 4 */
/* category page */
/* individual category page (i.e. body.category-6) */
/* replace the number to the corresponding page number */
/* tag page */
/* individual tag page (i.e. body.tag-news) */
/* replace the number to the corresponding page number */
/* custom page template page */
/* individual page template (i.e. body.page-template-contact-php */
/* replace the number to the corresponding page number */
/* replace the number to the corresponding page number */
/* if user is logged in */
/* paged items like search results or archives */
/* individual paged (i.e. body.paged-3) */
/*  LAYOUT & GRID STYLES  */
/* line 138, ../scss/base.scss */
.wrap {
  width: 90%;
  margin: 0 auto; }

/*
LINK STYLES
*/
/* line 147, ../scss/base.scss */
a, a:visited {
  color: #515151;
  border-bottom: 2px solid #83e5f1;
  text-decoration: none; }

/* line 152, ../scss/base.scss */
a:hover, a:focus {
  color: #19c7db;
  border-bottom: 2px solid #19c7db; }

/* on click */
/* line 157, ../scss/base.scss */
a:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/*  H1, H2, H3, H4, H5 STYLES  */
/* line 163, ../scss/base.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: "ff-meta-serif-web-pro", "Droid Serif", "Georgia", Cambria, Times New Roman, Times, serif;
  font-weight: 500;
  /* 
  if you're going to use webfonts, be sure to check your weights 
  http://css-tricks.com/watch-your-font-weight/
  */ }

/* line 172, ../scss/base.scss */
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none; }

/* line 176, ../scss/base.scss */
h1, .h1 {
  font-size: 2.5em;
  line-height: 1.333em; }

/* line 181, ../scss/base.scss */
h2, .h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em; }

/* line 187, ../scss/base.scss */
h1.h2 a {
  border: none; }

/* line 190, ../scss/base.scss */
h3, .h3 {
  font-size: 1.125em; }

/* line 194, ../scss/base.scss */
h4, .h4 {
  font-size: 1.1em;
  font-weight: 700; }

/* line 199, ../scss/base.scss */
h5, .h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px; }

/* line 208, ../scss/base.scss */
#bottom-header section#home {
  height: 15em; }
  /* line 210, ../scss/base.scss */
  #bottom-header section#home h1 {
    font-size: 3.2em;
    text-shadow: 5px 5px 8px #000000;
    filter: dropshadow(color=black, offx=5, offy=5);
    margin-top: 1.3em;
    text-align: left; }
  /* line 218, ../scss/base.scss */
  #bottom-header section#home h2 {
    opacity: .8;
    text-shadow: 5px 5px 8px #000000;
    filter: dropshadow(color=black, offx=5, offy=5);
    font-size: 1.5em;
    opacity: .8;
    margin-top: -1.8em;
    text-align: left; }
/* line 229, ../scss/base.scss */
#bottom-header section#blog {
  text-align: left;
  height: 5em;
  margin-top: 25px; }
  /* line 234, ../scss/base.scss */
  #bottom-header section#blog h1 {
    margin-top: .4em; }

/*  HEADER SYTLES  */
/*  NAVIGATION STYLES  */
/* line 248, ../scss/base.scss */
.menu {
  margin: 1.1em 0; }

/* .menu is clearfixed inside mixins.less */
/* line 256, ../scss/base.scss */
.menu li a {
  display: block;
  text-decoration: none;
  padding: 10px 10px;
  background-color: #eee;
  border-bottom: 1px solid #ccc; }

/*
remember this is for mobile ONLY, so there's no need
to even declare hover styles here, you can do it in
the style.less file where it's relevant. We want to 
keep this file as small as possible!
*/
/* highlight current page */
/*
so you really have to rethink your dropdowns for mobile.
you don't want to have it expand too much because the
screen is so small. How you manage your menu should
depend on the project. Here's some great info on it:
http://www.alistapart.com/articles/organizing-mobile/
*/
/* line 288, ../scss/base.scss */
.menu ul ul li a {
  padding-left: 30px; }

/* 
menus should definitely not go down this
deep on a mobile device. that would just be
a mess.
*/
/*  POSTS & CONTENT STYLES  */
/* line 305, ../scss/base.scss */
#content a {
  text-decoration: none; }

/* line 311, ../scss/base.scss */
section#about {
  width: 100%;
  height: 63em;
  display: block;
  margin-top: 1em;
  background-color: #fff; }
  /* line 318, ../scss/base.scss */
  section#about h4 {
    text-transform: uppercase;
    margin-bottom: .5em; }
  /* line 323, ../scss/base.scss */
  section#about div.left-column {
    float: left; }
    /* line 326, ../scss/base.scss */
    section#about div.left-column blockquote {
      font-style: italic;
      color: #19c7db;
      font-size: 1.75em;
      line-height: 1.5em;
      margin: 0; }
  /* line 335, ../scss/base.scss */
  section#about div.right-column {
    margin-top: 1em;
    width: 100%; }
    /* line 339, ../scss/base.scss */
    section#about div.right-column a, section#about div.right-column a:visited {
      border: none;
      background-color: #f8f8f8;
      display: block;
      vertical-align: center; }
    /* line 340, ../scss/base.scss */
    section#about div.right-column a:hover, section#about div.right-column a:active {
      background-color: #19c7db;
      background-color: rgba(25, 199, 219, 0.2); }
    /* line 341, ../scss/base.scss */
    section#about div.right-column section.startups {
      width: 100%;
      display: inline-block; }
      /* line 345, ../scss/base.scss */
      section#about div.right-column section.startups a.smashingboxes {
        height: 74px; }
        /* line 349, ../scss/base.scss */
        section#about div.right-column section.startups a.smashingboxes img {
          margin-top: 27px;
          margin-left: 14%; }
      /* line 352, ../scss/base.scss */
      section#about div.right-column section.startups a.getzeek {
        height: 150px;
        margin-top: 1em; }
        /* line 356, ../scss/base.scss */
        section#about div.right-column section.startups a.getzeek img {
          margin-top: 13px;
          margin-left: 25%; }
    /* line 360, ../scss/base.scss */
    section#about div.right-column section.clients {
      width: 100%;
      padding-top: 1em; }
      /* line 364, ../scss/base.scss */
      section#about div.right-column section.clients a.cbc {
        height: 143px;
        width: 143px;
        float: left; }
        /* line 369, ../scss/base.scss */
        section#about div.right-column section.clients a.cbc img {
          margin-top: 25px;
          margin-left: 22px; }
      /* line 371, ../scss/base.scss */
      section#about div.right-column section.clients div.client-right-column {
        width: 433px; }
        /* line 374, ../scss/base.scss */
        section#about div.right-column section.clients div.client-right-column a.groundworklabs {
          height: 87px;
          width: 340px;
          margin-top: .65em;
          float: left; }
          /* line 380, ../scss/base.scss */
          section#about div.right-column section.clients div.client-right-column a.groundworklabs img {
            margin-top: 10px;
            margin-left: 17px; }
        /* line 384, ../scss/base.scss */
        section#about div.right-column section.clients div.client-right-column a.sony {
          height: 64px;
          width: 44%;
          float: left;
          margin-left: .75em; }
          /* line 390, ../scss/base.scss */
          section#about div.right-column section.clients div.client-right-column a.sony img {
            margin-top: 23px;
            margin-left: 37px; }
        /* line 393, ../scss/base.scss */
        section#about div.right-column section.clients div.client-right-column a.alphamed {
          height: 64px;
          width: 188px;
          float: left;
          margin-left: .75em;
          margin-top: 1em; }
          /* line 399, ../scss/base.scss */
          section#about div.right-column section.clients div.client-right-column a.alphamed img {
            margin-top: 13px;
            margin-left: 18px;
            width: 82%; }

/* line 410, ../scss/base.scss */
section#contact ul li {
  display: inline-block;
  margin-left: 1.35em;
  margin-top: 2em;
  align: center; }
  /* line 417, ../scss/base.scss */
  section#contact ul li a.twitter, section#contact ul li a.twitter:visited {
    display: block;
    background: url("../images/backup-twitter.png") no-repeat;
    z-index: -42;
    height: 124px;
    width: 124px;
    text-indent: 99999999999%;
    border: none;
    background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    margin-left: -15%; }
  /* line 430, ../scss/base.scss */
  section#contact ul li a.twitter:hover, section#contact ul li a.twitter:active {
    background: url("../images/backup-twitter-hvr.png");
    height: 124px;
    width: 124px;
    background-size: 100%; }
  /* line 437, ../scss/base.scss */
  section#contact ul li a.facebook, section#contact ul li a.facebook:visited {
    display: block;
    background: url("../images/backup-facebook.png") no-repeat;
    z-index: -42;
    height: 127px;
    width: 127px;
    text-indent: 99999999999%;
    border: none;
    background-size: 100%;
    margin-left: -43%; }
  /* line 448, ../scss/base.scss */
  section#contact ul li a.facebook:hover, section#contact ul li a.facebook:active {
    background: url("../images/backup-facebook-hvr.png");
    background-size: 100%;
    height: 127px;
    width: 127px; }
  /* line 455, ../scss/base.scss */
  section#contact ul li a.linkedin, section#contact ul li a.linkedin:visited {
    display: block;
    background: url("../images/backup-linkedin.png") no-repeat;
    z-index: -42;
    height: 126px;
    width: 128px;
    text-indent: 99999999999%;
    border: none;
    background-size: 100%;
    margin-left: -95px; }
  /* line 466, ../scss/base.scss */
  section#contact ul li a.linkedin:hover, section#contact ul li a.linkedin:active {
    background: url("../images/backup-linkedin-hvr.png");
    background-size: 100%;
    height: 126px;
    width: 128px; }
  /* line 473, ../scss/base.scss */
  section#contact ul li a.skype, section#contact ul li a.skype:visited {
    display: block;
    background: url("../images/backup-skype.png") no-repeat;
    z-index: -42;
    height: 132px;
    width: 132px;
    text-indent: 99999999999%;
    border: none;
    background-size: 100%;
    margin-left: 18%; }
  /* line 484, ../scss/base.scss */
  section#contact ul li a.skype:hover, section#contact ul li a.skype:active {
    background: url("../images/backup-skype-hvr.png");
    background-size: 100%;
    height: 132px;
    width: 132px; }
  /* line 491, ../scss/base.scss */
  section#contact ul li a.mail, section#contact ul li a.mail:visited {
    display: block;
    background: url("../images/backup-mail.png") no-repeat;
    z-index: -42;
    height: 132px;
    width: 139px;
    text-indent: 99999999999%;
    border: none;
    background-size: 100%;
    margin-left: -11%; }
  /* line 502, ../scss/base.scss */
  section#contact ul li a.mail:hover, section#contact ul li a.mail:active {
    background: url("../images/backup-mail-hvr.png");
    background-size: 100%;
    height: 132px;
    width: 139px; }

/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
/* post meta */
/* line 530, ../scss/base.scss */
.meta {
  color: #999;
  margin-top: -2em; }

/* post content */
/* line 538, ../scss/base.scss */
.post_content .single-post {
  width: 100%; }

/* line 550, ../scss/base.scss */
.post_content blockquote {
  font-style: italic;
  border-left: 2px solid #19c7db;
  padding-left: 1.15em; }

/* line 556, ../scss/base.scss */
cite {
  margin-left: 3.95em;
  color: #19c7db; }

/* line 559, ../scss/base.scss */
cite a, cite a:visited, cite a:hover, cite a:active {
  border: none; }

/* this adds the quote before the blockquote */
/* line 566, ../scss/base.scss */
.post_content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em; }

/* line 573, ../scss/base.scss */
.post_content img {
  margin: 0 0 1.5em 0;
  max-width: 100%; }

/*
image alignment on a screen this size may be
a bit difficult. It's set to start aligning 
and floating images at the next breakpoint,
but it's up to you. Feel free to change it up.
*/
/* line 588, ../scss/base.scss */
.post_content video, .post_content object {
  max-width: 100%; }

/* line 591, ../scss/base.scss */
.post_content pre, .post_content code {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px; }

/* line 597, ../scss/base.scss */
.wp-caption {
  background: #eee;
  padding: 5px; }

/* line 601, ../scss/base.scss */
.wp-caption img {
  margin-bottom: 0;
  width: 100%; }

/* line 605, ../scss/base.scss */
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center; }

/* image gallery styles */
/*  PAGE NAVI STYLES  */
/* line 628, ../scss/base.scss */
.page-navigation, .wp-prev-next {
  margin: 1.1em 0 2.2em; }

/* line 631, ../scss/base.scss */
.bones_page_navi, .wp-prev-next ul {
  list-style: none; }

/* line 633, ../scss/base.scss */
.bones_page_navi li {
  list-style: none;
  float: left;
  margin-left: 10px; }

/* line 639, ../scss/base.scss */
.bones_page_navi li a {
  padding: 3px 6px;
  display: block;
  text-decoration: none;
  position: relative; }

/* line 645, ../scss/base.scss */
.bones_page_navi li a:hover {
  color: #f01d4f;
  text-decoration: none; }

/* current page link */
/* line 651, ../scss/base.scss */
.bones_page_navi li.bpn-current {
  padding: 3px 6px;
  border-bottom: 2px solid #111111;
  position: relative; }

/* hovering on current page link */
/* common styles for page-navi links */
/* line 660, ../scss/base.scss */
.bones_page_navi li.bpn-prev-link a, .bones_page_navi li.bpn-next-link a {
  padding: 0;
  padding-top: .45em; }

/* line 664, ../scss/base.scss */
.bones_page_navi li.bpn-prev-link a:hover, .bones_page_navi li.bpn-next-link a:hover, .bones_page_navi li.bpn-first-page-link a:hover, .bones_page_navi li.bpn-last-page-link a:hover {
  background: none; }

/* previous link */
/* next page link */
/* line 674, ../scss/base.scss */
.bones_page_navi li.bpn-next-link {
  font-weight: 700; }

/* first page link */
/* last page link */
/* fallback previous & next links */
/* line 691, ../scss/base.scss */
.wp-prev-next .prev-link {
  float: left; }

/* line 692, ../scss/base.scss */
.wp-prev-next .next-link {
  float: right; }

/*  COMMENT STYLES  */
/* h3 comment title */
/* number of comments span */
/* line 704, ../scss/base.scss */
.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px; }

/* line 712, ../scss/base.scss */
.commentlist li[class*=depth-] {
  margin-top: 1.1em; }

/* line 715, ../scss/base.scss */
.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0; }

/* line 719, ../scss/base.scss */
.commentlist li:not(.depth-1) {
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 0;
  padding-bottom: 0; }

/* line 729, ../scss/base.scss */
.commentlist li:last-child {
  margin-bottom: 0; }

/* change number for different depth */
/* line 743, ../scss/base.scss */
.commentlist .odd {
  background: #eee; }

/* line 746, ../scss/base.scss */
.commentlist .even {
  background: #fefefe; }

/* line 761, ../scss/base.scss */
.commentlist .vcard {
  margin-left: 50px; }

/* line 764, ../scss/base.scss */
.commentlist .vcard cite.fn {
  font-weight: 700;
  font-style: normal; }

/* line 768, ../scss/base.scss */
.commentlist .vcard time {
  float: right; }

/* line 771, ../scss/base.scss */
.commentlist .vcard time a {
  color: #999;
  text-decoration: none; }

/* line 775, ../scss/base.scss */
.commentlist .vcard time a:hover {
  text-decoration: none; }

/* line 779, ../scss/base.scss */
.commentlist .vcard img.avatar {
  position: absolute;
  left: 10px;
  padding: 2px;
  border: 1px solid #cecece;
  background: #fff; }

/* line 791, ../scss/base.scss */
.commentlist li .comment_content {
  margin-left: 50px; }

/* line 794, ../scss/base.scss */
.commentlist li .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em; }

/* line 799, ../scss/base.scss */
.commentlist li ul {
  margin: 0; }

/* line 802, ../scss/base.scss */
.commentlist .comment-reply-link {
  text-decoration: none;
  float: right;
  background: #4598bb;
  padding: 3px 5px;
  color: #fff;
  opacity: 0.65;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 0.9em; }

/* line 813, ../scss/base.scss */
.commentlist a.comment-reply-link:hover {
  opacity: 1; }

/*  COMMENT FORM STYLES  */
/* line 817, ../scss/base.scss */
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em; }

/* line 821, ../scss/base.scss */
#comment-form-title {
  margin: 0 0 1.1em; }

/* line 828, ../scss/base.scss */
.respond-form form[method=post] {
  margin: 0.75em 0; }

/* line 834, ../scss/base.scss */
.respond-form form[method=post] li {
  list-style-type: none;
  clear: both;
  margin-bottom: 0.7335em; }

/* line 839, ../scss/base.scss */
.respond-form form[method=post] li label, .respond-form form[method=post] li small {
  display: none; }

/* line 842, ../scss/base.scss */
.respond-form input[type=text], .respond-form input[type=email], .respond-form input[type=url], .respond-form textarea {
  padding: 3px 6px;
  background: #efefef;
  border: 2px solid #cecece;
  line-height: 1.5em; }

/* line 848, ../scss/base.scss */
.respond-form input[type=text]:focus, .respond-form input[type=email]:focus, .respond-form input[type=url]:focus, .respond-form textarea:focus {
  background: #fff; }

/* line 851, ../scss/base.scss */
.respond-form input[type=text], .respond-form input[type=email], .respond-form input[type=url] {
  max-width: 400px;
  min-width: 250px; }

/* line 856, ../scss/base.scss */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0; }

/* line 859, ../scss/base.scss */
.respond-form textarea {
  resize: none;
  width: 97.3%;
  height: 150px; }

/* form validation */
/* line 867, ../scss/base.scss */
.respond-form input:invalid, .respond-form textarea:invalid {
  outline: none;
  border-color: #fbc2c4;
  background-color: #f6e7eb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }

/* no comments */
/* line 878, ../scss/base.scss */
.nocomments {
  margin: 0 20px 1.1em; }

/*  SIDEBARS & ASIDES  */
/* line 884, ../scss/base.scss */
.sidebar {
  opacity: .5; }

/* line 885, ../scss/base.scss */
.sidebar:hover, .sidebar:active {
  opacity: .9; }

/* line 901, ../scss/base.scss */
#archives-2 {
  display: inline-block;
  width: 48%;
  float: right; }

/*  FOOTER STYLES  */
/* line 910, ../scss/base.scss */
.footer {
  clear: both;
  z-index: 100;
  background: rgba(255, 255, 255, 0.9) url("../images/bg-footer.png") repeat-x top;
  padding-top: 1em; }
  /* line 916, ../scss/base.scss */
  .footer h4 {
    font: 1em/1.5em "ff-meta-serif-sc-web-pro", "Droid Serif", "Georgia", Cambria, Times New Roman, Times, serif;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: bold; }
  /* line 923, ../scss/base.scss */
  .footer a, .footer a:visited {
    border: none;
    color: #19c7db;
    margin-bottom: -1em; }
  /* line 929, ../scss/base.scss */
  .footer a:hover, .footer a:active {
    color: #111111; }
  /* line 933, ../scss/base.scss */
  .footer p {
    margin-top: 0.1em; }
  /* line 935, ../scss/base.scss */
  .footer nav ul li {
    margin-left: 2em; }
  /* line 939, ../scss/base.scss */
  .footer nav ul li a.twitter {
    margin-left: 2em; }
  /* line 946, ../scss/base.scss */
  .footer p.button {
    float: right;
    font-weight: 200;
    font-style: italic; }

/* line 953, ../scss/base.scss */
footer #bottom {
  text-align: center; }
  /* line 956, ../scss/base.scss */
  footer #bottom li {
    display: inline-block;
    margin-left: .5em; }
  /* line 961, ../scss/base.scss */
  footer #bottom .attribution {
    margin-top: -0.5em; }

/* line 967, ../scss/base.scss */
footer #tweet-feed ul {
  margin-top: 0em; }
/* line 968, ../scss/base.scss */
footer #tweet-feed li {
  margin-top: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #19c7db; }

/* line 974, ../scss/base.scss */
hr {
  color: #19c7db;
  background-color: #19c7db;
  border: none;
  height: 1px; }

/* line 976, ../scss/base.scss */
#recent-blog-posts {
  margin-bottom: 4em; }

/* remember, no hover in mobile */
/* highlight current page */
/* be careful with the depth of your menus */
/* line 997, ../scss/base.scss */
::selection {
  background-color: #19c7db;
  color: #fff; }

/* line 998, ../scss/base.scss */
::-moz-selection {
  background-color: #19c7db;
  color: #fff; }
