/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use LESS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Base.css contains the main mobile styles and is called in the 
header. This way mobile devices get ONLY the styles that apply
to them. No muss, no fuss.

normalize.css and the mixins are also called within that base file 

Now we call the files that contain all the CSS. This means
you don't have to maintain an IE stylesheet AND a standard 
responsive stylesheet.
*/
/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.less styles.

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
/*********************
HEADER SYTLES
*********************/
/*********************
NAVIGATION STYLES
*********************/
/*
you can use hover styles here even though this size
has the possibility of bieng a mobile device.
*/
/* highlight current page */
/*
plan your menus and drop-downs wisely.
*/
/* 
more levels
*/
/*********************
POSTS & CONTENT STYLES
*********************/
/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
/* post meta */
/* post content */
/* this adds the quote before the blockquote */
/* at this larger size, we can start to align images */
/* line 124, ../scss/481up.scss */
.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

/* line 129, ../scss/481up.scss */
.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

/* line 134, ../scss/481up.scss */
.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

/* image gallery styles */
/******************************************************************
PAGE NAVI STYLES
******************************************************************/
/* current page link */
/* hovering on current page link */
/* common styles for page-navi links */
/* previous link */
/* next page link */
/* first page link */
/* last page link */
/* fallback previous & next links */
/******************************************************************
COMMENT STYLES
******************************************************************/
/* h3 comment title */
/* number of comments span */
/* change number for different depth */
/******************************************************************
COMMENT FORM STYLES
******************************************************************/
/* form validation */
/* no comments */
/*********************
SIDEBARS & ASIDES
*********************/
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* hover styles */
/* highlight current page */
/* 
be careful with the depth of your menus.
it's very rare to have multi-depth menus in
the footer.
*/
/******************************************************************
Site Name: 
Author: 

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/********************
WORDPRESS BODY CLASSES
style a page via class
********************/
/* home page */
/* archive page */
/* date archive page */
/* replace the number to the corresponding page number */
/* search page */
/* search result page */
/* no results search page */
/* individual paged search (i.e. body.search-paged-3) */
/* 404 page */
/* single post page */
/* individual post page by id (i.e. body.postid-73) */
/* individual paged single (i.e. body.single-paged-3) */
/* attatchment page */
/* individual attatchment page (i.e. body.attachmentid-763) */
/* style mime type pages */
/* author page */
/* user nicename (i.e. body.author-samueladams) */
/* paged author archives (i.e. body.author-paged-4) for page 4 */
/* category page */
/* individual category page (i.e. body.category-6) */
/* replace the number to the corresponding page number */
/* tag page */
/* individual tag page (i.e. body.tag-news) */
/* replace the number to the corresponding page number */
/* custom page template page */
/* individual page template (i.e. body.page-template-contact-php */
/* replace the number to the corresponding page number */
/* replace the number to the corresponding page number */
/* if user is logged in */
/* paged items like search results or archives */
/* individual paged (i.e. body.paged-3) */
/*********************
LAYOUT & GRID STYLES
*********************/
/* line 67, ../scss/768up.scss */
.wrap {
  max-width: 960px; }

/***** Grid Options down here, where they are usable ******/
/* layout options ( all have margins right & left of 1%) */
/* line 72, ../scss/768up.scss */
.col60 {
  width: 6.3829787%; }

/* width 60px  / grid_1  */
/* line 73, ../scss/768up.scss */
.col140 {
  width: 14.893617%; }

/* width 140px / grid_2  */
/* line 74, ../scss/768up.scss */
.col220 {
  width: 23.404255%; }

/* width 220px / grid_3  */
/* line 75, ../scss/768up.scss */
.col300 {
  width: 31.914894%; }

/* width 300px / grid_4  */
/* line 76, ../scss/768up.scss */
.col380 {
  width: 40.425532%; }

/* width 380px / grid_5  */
/* line 77, ../scss/768up.scss */
.col480 {
  width: 48.936170%; }

/* width 480px / grid_6  */
/* line 78, ../scss/768up.scss */
.col540 {
  width: 57.446809%; }

/* width 540px / grid_7  */
/* line 79, ../scss/768up.scss */
.col620 {
  width: 65.957447%; }

/* width 620px / grid_8  */
/* line 80, ../scss/768up.scss */
.col700 {
  width: 74.468085%; }

/* width 700px / grid_9  */
/* line 81, ../scss/768up.scss */
.col780 {
  width: 82.978723%; }

/* width 780px / grid_10 */
/* line 82, ../scss/768up.scss */
.col860 {
  width: 91.489362%; }

/* width 860px / grid_11 */
/* line 83, ../scss/768up.scss */
.col940 {
  width: 100.0%; }

/* width 940px / grid_12 */
/* layout & column defaults */
/* line 86, ../scss/768up.scss */
.col60, .col140, .col220, .col300, .col380, .col480, .col540, .col620, .col700, .col780, .col860, .col940 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 1.0638298%;
  /* 10px */
  margin-right: 1.0638298%;
  /* 10px */ }

/* floats */
/* line 95, ../scss/768up.scss */
.left {
  float: left; }

/* line 96, ../scss/768up.scss */
.right {
  float: right; }

/* default styles & fixes */
/* line 99, ../scss/768up.scss */
.first {
  margin-left: 0; }

/* fixes alignment */
/* line 100, ../scss/768up.scss */
.last {
  margin-right: 0; }

/* fixes alignment */
/*********************
HEADER SYTLES
*********************/
/*********************
NAVIGATION STYLES
*********************/
/* line 119, ../scss/768up.scss */
.menu ul {
  background: #eee; }

/* line 123, ../scss/768up.scss */
.menu li {
  float: left;
  position: relative; }

/* line 127, ../scss/768up.scss */
.menu li a {
  border-bottom: 0; }

/* line 130, ../scss/768up.scss */
.menu li a:hover {
  background-color: #dedede; }

/* highlight current page */
/*
plan your menus and drop-downs wisely.
*/
/* line 145, ../scss/768up.scss */
.menu ul li ul {
  width: 200px;
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  display: none;
  z-index: 8999; }

/* show the dropdowns on hover */
/* line 155, ../scss/768up.scss */
.menu ul li:hover ul {
  top: auto;
  display: block; }

/* line 160, ../scss/768up.scss */
.menu ul ul li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  border-bottom: 1px solid #ccc; }

/* line 169, ../scss/768up.scss */
.menu ul li:last-child a {
  border-bottom: 0; }

/* 
more levels
*/
/*********************
POSTS & CONTENT STYLES
*********************/
/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
/* post meta */
/* post content */
/* this adds the quote before the blockquote */
/* image alignment */
/* image gallery styles */
/******************************************************************
PAGE NAVI STYLES
******************************************************************/
/* current page link */
/* hovering on current page link */
/* common styles for page-navi links */
/* previous link */
/* next page link */
/* first page link */
/* last page link */
/* fallback previous & next links */
/******************************************************************
COMMENT STYLES
******************************************************************/
/* h3 comment title */
/* number of comments span */
/* change number for different depth */
/******************************************************************
COMMENT FORM STYLES
******************************************************************/
/* form validation */
/* no comments */
/*********************
SIDEBARS & ASIDES
*********************/
/* line 401, ../scss/768up.scss */
.sidebar {
  margin-top: 2.2em; }

/* line 405, ../scss/768up.scss */
.widget {
  padding: 0 10px;
  margin: 2.2em 0; }

/* line 410, ../scss/768up.scss */
.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em; }

/* line 417, ../scss/768up.scss */
.widget li {
  margin-bottom: 0.75em; }

/* line 426, ../scss/768up.scss */
.widget li ul {
  margin-top: 0.75em;
  padding-left: 1em; }

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
/* line 525, ../scss/768up.scss */
.footer #recent-blog-posts {
  width: 44.936170%;
  display: inline-block; }
/* line 529, ../scss/768up.scss */
.footer #tweet-feed {
  width: 27.914894%;
  display: inline-block;
  margin-left: 4.3829787%; }
/* line 534, ../scss/768up.scss */
.footer #social {
  width: 14.893617%;
  display: inline-block;
  margin-left: 4.3829787%; }
/* line 539, ../scss/768up.scss */
.footer .attribution {
  float: left; }
/* line 541, ../scss/768up.scss */
.footer nav {
  float: right; }
/* line 544, ../scss/768up.scss */
.footer nav ul li {
  display: inline; }

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
/* hover styles */
/* highlight current page */
/* 
be careful with the depth of your menus.
it's very rare to have multi-depth menus in
the footer.
*/
/******************************************************************
Site Name: 
Author: 

Stylesheet: Average Desktop View

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using something like:

.ie7 .class { ... }

*/
